@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Dues.DueRecoverds.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AprajitaRetails.Dues.DueRecoverdsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>