@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Expenses.PettyCashExpenses.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AprajitaRetails.Expenses.PettyCashExpensesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>