@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Receipts.Receipts.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AprajitaRetails.Receipts.ReceiptsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>