@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Process.MonthEnds.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AprajitaRetails.Process.MonthEndsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>