@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.PayRoll.PaySlips.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AprajitaRetails.PayRoll.PaySlipsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>