{
    "RootNamespace": "AprajitaRetails",
    "Connections": [
        {
            "Key": "ARContext",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=AprajitaContext-1; Integrated Security=true",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Employees",
                    "Identifier": "Employees",
                    "Module": "ArvindStore",
                    "ConnectionKey": "ARContext",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=AprajitaRetails_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Employees",
                    "Identifier": "Employees",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\..\\Test2\\Aprajitaretails\\Aprajitaretails.Web\\Aprajitaretails.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}