@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Accounts.PurchaseTaxTypes.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AprajitaRetails.Accounts.PurchaseTaxTypesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>