@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Voyager.ImportInWards.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AprajitaRetails.Voyager.ImportInWardsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>