@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Sales.SaleInvoices.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AprajitaRetails.Sales.SaleInvoicesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>