@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Purchases.ProductPurchases.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AprajitaRetails.Purchases.ProductPurchasesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>