@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Dues.DuesLists.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AprajitaRetails.Dues.DuesListsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>