@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Product.Brands.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AprajitaRetails.Product.BrandsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>