@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Sales.Salesmen.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AprajitaRetails.Sales.SalesmenGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>