@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Voyager.ImportSaleItemWises.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AprajitaRetails.Voyager.ImportSaleItemWisesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>